- name: Create code-server data dir
  file:
    path: "{{ code_server_data_dir }}"
    state: directory

- name: Copy code-server env file
  template:
    src: env
    dest: "{{ code_server_data_dir }}"
    mode: 0600
  register: copy_code_server_env_file
  when: code_server_password is defined

- block:
  - import_tasks: copy-certs.yml
  rescue:
  - import_tasks: copy-certs.yml
    become: yes
